body, html {
  background-color: #222;
  color: white;
  height:100%;
}

.mainContainer {
  padding-top: 100px
}

.lightbox {
  display: flex;
  justify-content: center;
}

.lightboxA {
  display: flex;
  justify-content: center;
}

.lightbox img {
  width: 450px;
}

.lightboxA img {
  width: 700px;
}
