body, html {
  background-color: #222;
  color: white;
  height:100%;
}

.mainContainer {
  padding-top: 50px
}

.lightbox {
  display: flex;
  justify-content: center;
}

.lightboxA {
  display: flex;
  justify-content: center;
}

.lightbox img {
  width: 450px;
}

.lightboxA img {
  width: 700px;
}

h1{
  text-align: center;
  font-size: 40px;
}

p{
  text-align: center;
  font-size: 10px;
}
